<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.uncarbon.module.sys.mapper.SysUserMapper">

    <update id="updateLastLoginAt">
        UPDATE sys_user
        SET last_login_at = #{lastLoginAt}
        WHERE id = #{userId}
    </update>

    <select id="getBaseInfoByUserId" resultType="cc.uncarbon.module.sys.model.response.SysUserBaseInfoBO">
        SELECT pin AS username,
               nickname,
               status,
               gender,
               email,
               phone_no
        FROM sys_user
        WHERE id = #{userId} LIMIT 1
    </select>

</mapper>